<footer class="">
    <ul class="d-flex justifyContent-center flex-row listStyle-none">
        <li>
            <span class="d-flex alignItems-center">
                <a class="color-white listStyle-none pad-point5" href="mailto:emotes@vaporgabe.com">Contact</a>
                <div class="separator marginLR-point5 d-block bgColor-white"></div>
            </span>
        </li>
        <li>
            <span class="d-flex alignItems-center">
                <a class="color-white pad-point5" href="https://github.com/VaporGabeEmotes/">GitHub</a>
                <div class="separator marginLR-point5 d-block bgColor-white"></div>
            </span>
        </li>
        <li>
            <span class="d-flex alignItems-center">
                <a class="color-white pad-point5" href="/legal/privacy">Privacy Policy</a>
                <div class="separator marginLR-point5 d-block bgColor-white"></div>
            </span>
        </li>
        <li>
            <span class="d-flex alignItems-center">
                <a class="color-white pad-point5" href="/legal/tos">Terms of Service</a>
            </span>
        </li>
    </ul>
</footer>

</body>
</html>